<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p><%= select_tag(:lob, options_for_select([['eLS', 1], ['HD', 2]]))%></p>
	<p><%= f.label :title %></p>
	<p><%= f.text_field :title %></p>
	<%= submit_tag "Add Editor",:type => 'button', "onclick"=>"addArea2();" %>
	<%= submit_tag "Remove Editor",:type => 'button',"onclick"=>"removeArea2();" %>
	<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
	<script type="text/javascript">
		//<![CDATA[
		var area1, area2;

		function addArea2() { area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2');}
		function removeArea2() { area2.removeInstance('myArea2'); }
		bkLib.onDomLoaded(function() { toggleArea1(); });
		//]]>
	</script>
	<p><%= f.label :body %></p>
	<p><%= f.text_area :body %></p>
	<p><%= f.submit %></p>
<% end %>
