<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<title>Real Smart Home</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= stylesheet_link_tag 'application', 'https://fonts.google.com/css?family=Railway:400,700' %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= stylesheet_link_tag 'app/assets/stylesheets/researchStyle.css' %>
  	<link rel="shortcut icon" href="app/assets/images/favicon.ico"/>
  	<%= csrf_meta_tags %>
</head>
<body>



</body>
</html>
